

body{
 font-family: sans-serif;
   font-size: 14px;
   line-height: 24px;
}

h1 , h2 ,h3 {
   font-family: serif;
}


a{ text-decoration:none; }



a:hover { text-decoration:none; }

.container{
   width: 1140px;
   
   margin: 0px auto;
  
}



.login-form{
   width:600px;
   margin: 50px auto;
   background:#eee;
   padding: 70px;

}


.avater{
   width: 100%;
   text-align: center;
}

.avater img{
   width:180px;
   height:180px;
   border-radius: 100%;
}



.avater h1 {
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
        letter-spacing: 2px;
    font-weight: 700;
    margin: 6px;
}


.form-group label {

display: block;
font-size: 14px;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 1px;
font-weight:700;
margin:0px 0px 5px ;

}

.form-group .form-control
{width:95%; 
paddding:15px;
font-size: 14px;
text-transform: uppercase;
border: 1px solid #000;
background: #eee;
}

.form-group .btn-info{

padding: 10px 15px;
font-size: 14px;
text-transform: uppercase;
font-weight: 700;
background: #000;
color:#fff;
border:1px solid #000;
 margin:15px, auto;



}
.form-group .btn-info:hover{

background: #fff;
color:#000;
border:1px solid #000;
cursor: pointer;




}
